
:root {
  --color-background: #050803;
  --color-text: #FDFAF7;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
  color: var(--color-text);
}

.hero-video-wrapper {
  max-width: 1440px;
  height: min(866px, 100vh);
  min-height: min(866px, 100vh);
  /* Scale video to reduce black letterboxing */
  @media (max-width: 1440px) {
    transform: scale(1);
  }
  @media (max-width: 750px) {
    transform: scale(1.5);
  }
  @media (max-width: 425px) {
    transform: scale(2);
  }
  img, video {
    max-width: 1920px;
    width: 100%;
    height: auto;
    transition: opacity 0.5s ease-in-out;
  }
}
